__pycache__*
__pycache__/*
*.pyd
*.pyc
*~
.idea/*
*.swp
*.html
Tests/.ipynb_checkpoints
Tests/.ipynb_checkpoints/*
Makefile
PyOptiX.bat
*.lnk
Tests/resolution Hermes.py
Tests/test.ipynb
Tests/test_import.py
make.bat
source/*
Tests/Wolter

/Tests/TestArrayParameter.py
/Tests/*.xml
